@import "baseline.css";

* {
	box-sizing: border-box !important;
}

body {
	text-align: center;
	margin: 0;
	width: 100vw;
}

p {
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: justify;
}

a {
	text-decoration: none;
}

#nav {
	background-color: #004c98;
	/*background-color: #f1ce48;*/
}

#nav > li > a {
	color: #f1ce48;
}

footer {
	display: flex;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 12vh;
	padding: 5px;
	background-color: #004c98;
	color: white;
	text-align: left;
}

footer > p {
	font-weight: bolder;
	color: #f1ce48;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
}

.container {
	padding: 0 16px;
}

.main-content {
	width: 80%;
	/*height: 60%;*/
	margin: 10% auto 20%;
}

.main-content > div {
	margin-top: 5%;
	margin-bottom: 5%;
}

.content-button {
	display: inline-block;
	width: 30%;
	padding: 15px 32px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-weight: bolder;
	background-color: #f1ce48;
	color: black;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: background-color linear 0.25s, color linear 0.25s;
}

.content-button:hover {
	color: white;
	background-color: #004c98;
}

.sub-content {
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contact-info {
	padding: 5px;
	background: whitesmoke;
	border-radius: 40px;
}

.invisible-content {
	height: 0;
	visibility: hidden;
	background: white;
	color: black;
	opacity: 0;
	width: 50%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	transition: height 0.25s, visibility 0.25s, opacity 0.25s linear;
}

.inline-link {
	color: #004c98;
	transition: color 0.25s linear;
}

.inline-link:hover {
	color: #f1ce48;
	cursor: pointer;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.grid-container-2 {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 30px 30px;
	justify-content: space-evenly;
	align-content: center;
}

.grid-heading {
	grid-column: 1 / 3;
}

.grid-item {
	grid-row: span 1;
	grid-column: span 1;
}

#smc-logo {
	width: 10vh;
}

#current-link {
	color: white !important;
}