@import "baseline.css";

.main {
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;
  text-align: justify;
}

html {
  box-sizing: border-box;
}

body {
  background: url('../images/backgrounds/team.jpeg') center;
  background-size: contain;
}

.column {
  display: table-cell;
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.column2 {
  display: table-cell;
  float: center;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: grey;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#club-photo {
  display: block;
}